@import "../../../styles/variables";

.locationSection {
  display: grid;
  gap: 10px;
  margin: 40px auto;
  max-width: 90vw;

  @media (max-width: 768px) {
    max-width: 100vw;
    margin: 0%;
    gap: 40px;
  }

  .locationCard {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
    padding: 30px;
    background-color: $primary-white;
    border-radius: 15px;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    @media (max-width: 768px) {
      gap: 0;
    }
  }

  .mapContainer {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1024px) {
      width: 100%;
    }

    .mapImage {
      width: 100%;
      height: auto;
      border-radius: 15px;

      @media (max-width: 640px) {
        border-radius: 0;
      }
    }
  }

  .detailsContainer {
    width: 65%;
    padding: 60px;
    height: 29vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-color: $primary-peach;

    @media (max-width: 1024px) {
      width: 100%;
      text-align: left;
      height: auto;
    }
    @media (max-width: 640px) {
      border-radius: 0%;
      text-align: center;
    }

    h2 {
      font-size: 2rem;
      color: $primary-peach;
    }

    .infoContainer {
      display: flex;
      gap: 150px;
      @media (max-width: 640px) {
        display: block;
      }
    }
    .infoWrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;

      @media (max-width: 768px) {
        gap: 5px;
      }

      h5 {
        color: $primary-dark;
        font-weight: 600;
        font-size: 1.1rem;
        margin-top: 15px;
      }

      div {
        font-size: 1rem;
        color: $secondary-dark;
      }
    }
  }
}

@media (min-width: 1024px) {
  .locationSection {
    grid-template-columns: 1fr;
  }

  .locationCard {
    flex-direction: row;
    align-items: flex-start;
  }

  .locationCard:nth-child(1) .detailsContainer,
  .locationCard:nth-child(3) .detailsContainer {
    order: -1;
  }
}

@media (max-width: 1024px) {
  .locationSection {
    grid-template-columns: 1fr;
  }
}
