@import "../../styles/variables";

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns on desktop */
  grid-template-rows: repeat(1, 1fr); /* One row by default */
  gap: 20px; /* Space between items */
  margin-top: 40px;
  margin-bottom: 40px;
  height: 60vh; /* Optional height for desktop view */
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 70px;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column; /* Stack items on mobile */
    height: auto; /* Allow height to auto adjust */
  }
}

.gridItem {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media (max-width: 1024px) {
    max-width: 90vw;
    margin: auto;
    height: 20vh; /* Fixed height for mobile */
  }

  .gridImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Background overlay */
  transition: background-color 0.3s ease;
  height: 100%;
  opacity: 1;

  @media (hover: hover) {
    .gridItem:hover & {
      background-color: rgba(
        231,
        129,
        107,
        0.5
      ); /* Change overlay color on hover */
    }
  }
}

.link {
  color: $primary-peach; /* Link color */
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  align-items: center;

  svg {
    margin-left: 5px; /* Space between text and icon */
  }
}
