@import "../../../styles/variables";

.getInTouch {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  background-size: cover;
  background-position: center;
  height: 70vh;
  color: white;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: -120px;

  .content {
    max-width: 600px;
    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
      font-weight: 500;
      line-height: 1.2;
    }
    p {
      font-size: 1rem;
      margin-bottom: 30px;
      line-height: 1.6;
      font-weight: 400;
    }
    button {
      padding: 12px 30px;
      background-color: $primary-white;
      color: $primary-dark;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($primary-peach, 10%);
        color: $primary-white;
      }
    }
  }

  // Desktop background image
  @media (min-width: 1025px) {
    background-image: url("/images/desktopGIT.png");
    border-radius: 20px;
    height: 60vh;
  }

  // Tablet background image
  @media (max-width: 1024px) and (min-width: 768px) {
    background-image: url("/images/desktopGIT.png");
    height: 30vh; // Adjust height for tablet
    border-radius: 20px;
    max-width: 90vw;
    margin: auto;
  }

  // Mobile background image
  @media (max-width: 767px) {
    background-image: url("/images/mobileGIT.png");
    height: 50vh; // Adjust height for mobile
    border-radius: 20px;
    max-width: 90vw;
    margin: auto;
  }
}
