@import "../../../styles/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: $secondary-dark;
  position: relative;
  top: 0;
  z-index: 1000;
  text-transform: uppercase;
  max-width: 90vw;
  margin: auto;

  @media (max-width: 768px) {
    position: sticky;
    top: 0;
    max-width: 100vw;
    background-color: $primary-white;
  }

  .logo {
    display: flex;
    align-items: center;
    h2 {
      margin-left: 10px;
    }
  }

  .navLinks {
    ul {
      list-style-type: none;
      display: flex;
      gap: 30px;

      li {
        font-size: 18px;
        position: relative;

        &:hover {
          color: $primary-peach;
          font-weight: 600;
          cursor: pointer;

          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -5px;
            transform: translateX(-50%);
            width: 50%;
            height: 2px;
            background-color: $primary-peach;
            border-radius: 2px;
            transition: width 0.3s ease-in-out;
          }
        }

        &:not(:hover)::after {
          width: 0;
        }
      }
      @media (max-width: 1024px) {
        gap: 15px;
        font-size: 14px;
      }
      @media (max-width: 640px) {
        gap: 5px;
        font-size: 18px;
        display: block;
      }
    }

    @media (max-width: 768px) {
      position: fixed;
      top: calc(72px + 5px);
      right: 0;
      background-color: $primary-dark;
      flex-direction: column;
      width: 100%;
      padding: 10px 0;
      transition: transform 0.5s ease-in-out;
      transform: translateY(-100%);
      opacity: 0;
      visibility: hidden;
      z-index: 1000;

      li {
        padding: 10px 50px;
        text-align: left;
      }
    }

    &.open {
      transform: translateY(4%);
      opacity: 1;
      visibility: visible;
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;

    @media (max-width: 768px) {
      display: flex;
      z-index: 1001;
    }

    .menuIcon {
      width: 30px;
      height: 30px;
      color: $primary-dark;
      transition: transform 0.3s ease-in-out;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 2, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
